html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.chart-wrapper {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 50%;
}
#tfjs-visor-container{
  display: none;
  visibility: hidden;
}
